/* -----------------------------------------------------------------------------
/* GENERAL GUIDELINES
/* -----------------------------------------------------------------------------

/* body */ h1{font-family: 'Calistoga', cursive; font-size:22px;}
h3{font-family: 'Calistoga', cursive; font-size:16px;}
p {font-family: 'Roboto', sans-serif; font-color: black; font-size: 12px;} /* href text */
a {font-family: 'Calistoga', cursive;/* font format; href hover */ text-decoration: none; color: DarkSlateGrey;}
a:hover {text-decoration: none;  color:goldenrod;} /* footer */
footer {font-family: 'Roboto', sans-serif;font-color: black; font-size: 10px; position: absolute; bottom: 0; width: inherit; height:50px;}
.myimg{
      width:150px;
      height:150px;
      object-fit:cover;
      border-radius:50%;
      margin: auto
    }
/* -----------------------------------------------------------------------------
/* INDEX.HTML GUIDELINES
/* -----------------------------------------------------------------------------

/* index.html wrapper */ #index-wrapper{width:
100%; margin: 0 auto; display:inline-block; text-align: center}
img {display: block; margin: 0px 0px 0px 0px}
