.nav-menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.nav-menu li {
  display: inline;
  margin-right: 15px;
}

.nav-menu a {
  color: #1a4c2a; /* emerald green */
}


aside a[href*="github.com"] {
  display: none !important;
}

header h1 {
  font-size: 1.6rem !important; 
}

.page-header {
  text-align: left !important;
}

