.nav-menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.nav-menu li {
  display: inline;
  margin-right: 15px;
}

.nav-menu a {
  color: #1a4c2a; /* emerald green */
}
a.github {
  display: none;
}
